body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(55, 55, 55)
    )
    rgb(var(--background-end-rgb));
    min-height: 100vh;
}

.login-navbar {
    background: var(--background-base);
}

.login-box .header {
    overflow-wrap: break-word;
    font-size: 2.7rem;
    font-weight: 700;
}

.form {
    padding: 0 32px 30px;
    width: 380px;
}